{% extends "layout.html" %}

{% block content %}

<div class="container fluid">
  <div class="alert alert-primary mt-2 mb-2" role="alert">
    {{title}}
  </div>
  <table class="table table-striped table-bordered mt-2">
    <thead class="thead-light">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Package Count</th>
      <th>Defconfig Count</th>
    </tr>
    </thead>

    <tbody>
    {% for name in developers %}
      <tr>
        <td><img src="{{gravatars[name]}}"></td>
        <td>{{name}}</td>
        <td><a href="{{url_for('packages', developer=name)}}">{{developers[name]['pkg_count']}}</a></td>
        <td>{{developers[name]['defconfig_count']}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
