{% extends "layout.html" %}

{% set active_page = "package" %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="card bg-light m-2">
        <div class="card-header">
          {{ pkg.name }}
        </div>
        <ul class="list-group list-group-flush">
            <table class="table table-borderless">
              <tr>
                <td>Version</td>
                <td>{{ pkg.current_version }}</td>
              </tr>
              <tr>
                <td>Latest Version</td>
                <td><a href="http://release-monitoring.org/project/{{ pkg.latest_version_id }}">{{ pkg.latest_version }}</a></td>
              </tr>
              <tr>
                <td>License</td>
                <td>{{ pkg.license }}</td>
              </tr>
              <tr>
                <td>CPE ID</td>

                {% if pkg.cpeid != None %}
                <td><a href="https://nvd.nist.gov/products/cpe/search/results?namingFormat=2.3&keyword={{ pkg.cpeid }}">{{ pkg.cpeid }}</a></td>
                {% else %}
                <td>{{ pkg.cpeid }} - <a href="https://nvd.nist.gov/products/cpe/search/results?namingFormat=2.3&keyword={{ pkg.name }}">Search</a></td>
                {% endif %}
              </tr>
              <tr>
                <td>Homepage</td>
                <td><a href="{{ pkg.url }}">{{ pkg.url }}</a></td>
              </tr>
              <tr>
                <td>Path</td>
                <td><a href="https://git.buildroot.net/buildroot/tree/{{ pkg.pkg_path }}?h={{ commit }}">{{ pkg.pkg_path }}</a>
              </tr>
              <tr>
                <td>Infrastructure(s)</td>
                <td>
                  {% for infra in pkg.infras %}
                  <p>{{infra.destination}}: <a href="{{url_for('packages', infra=infra.build_system)}}">{{infra.build_system}}</a></p>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td>Developer(s)</td>
                <td>
                  <a name="developers"></a>
                  {% for developer in pkg.developers %}
                  <p><a href="{{ url_for('packages', developer=developer.email) }}"><img src="{{ developer.gravatar_url }}">{{ developer.name }}</a></p>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td>Autobuild</td>
                <td><a href="http://autobuild.buildroot.org/?reason={{ pkg.name}}-{{ pkg.current_version}}">results</a></td>
              </tr>
            </table>
        </ul>
      </div>
    </div>

    <div class="col">
      <!-- Status -->
      <div class="card bg-light m-2">
        <div class="card-header">Status</div>
        <ul class="list-group list-group-flush">
          <table class="table">
            <tbody>
            {% for status in pkg.status | sort(attribute='check') %}
              {% if status.result == 'ok' %}
              <tr class="table-success">
              {% elif status.result == 'warning' %}
              <tr class="table-warning">
              {% elif status.result == 'error' %}
              <tr class="table-danger">
              {% elif status.result == 'na' %}
              <tr class="table-secondary">
              {% else %}
              <tr class="table-info">
              {% endif %}
                <td> {{ status.check }}</td>
                <td> {{ status.verbose }} </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </ul>
      </div>
    </div>

  </div>

  <!-- CVE -->
  <div class="card bg-light m-2">
    <a name="cves"></a>
    <div class="card-header">CVE</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {% for cve in pkg.cves | sort(attribute='name') %}
          <p><a href="https://security-tracker.debian.org/tracker/{{ cve.name }}">{{ cve.name }}</a></p>
        {% endfor %}
      </li>
    </ul>
  </div>

  <!-- Patches -->
  <div class="card bg-light m-2">
    <a name="patches"></a>
    <div class="card-header">Patches</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {% for patch in pkg.patches | sort(attribute='filename') %}
        <p><a href="https://git.buildroot.net/buildroot/tree/package/{{pkg.name}}/{{patch.filename}}?h={{commit}}">{{patch.filename}}</a></p>
        {% endfor %}
      </li>
    </ul>
  </div>

</div>

{% endblock %}
