{% extends "layout.html" %}

{% set active_page = "packages" %}

{% block content %}

<div class="container-fluid">

  <div class="alert alert-primary mt-2 mb-2" role="alert">
    {{title}}
  </div>

  <table class="table table-striped table-bordered table-hover sortable">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Package Version</th>
        <th>Upstream Version</th>
        <th>Checks OK</th>
        <th>Checks Warning</th>
        <th>Checks Error</th>
        <th>CVE</th>
      </tr>
    </thead>

    <tbody>
      {% for pkg in packages %}
      <tr>
        <!-- Name -->
        <td><a href="{{ url_for('package', name=pkg.name) }}">{{ pkg.name }}</a></td>

        <!-- Package Version / Upstream Version -->
        {% if pkg.latest_version == None %}
            {% if pkg.current_version | length > 20 %}
            <td class="table-secondary">{{ pkg.current_version[0:20] + ".." }}</td>
            {% else %}
            <td class="table-secondary">{{ pkg.current_version }}</td>
            {% endif %}
            <td class="table-secondary"><a href="https://release-monitoring.org/project/{{ pkg.latest_version_id }}">{{ pkg.latest_version }}</a></td>

        {% elif pkg.current_version == pkg.latest_version  %}
          {% if pkg.current_version | length > 20 %}
            <td class="table-success">{{ pkg.current_version[0:20] + ".." }}</td>
          {% else %}
            <td class="table-success">{{ pkg.current_version }}</td>
          {% endif %}
          <td class="table-success"><a href="https://release-monitoring.org/project/{{ pkg.latest_version_id }}">{{ pkg.latest_version }}</a></td>
        {% else %}
          {% if pkg.current_version | length > 20 %}
            <td class="table-danger">{{ pkg.current_version[0:20] + ".." }}</td>
          {% else %}
            <td class="table-danger">{{ pkg.current_version }}</td>
          {% endif %}
          <td class="table-danger"><a href="https://release-monitoring.org/project/{{ pkg.latest_version_id }}">{{ pkg.latest_version }}</a></td>
        {% endif %}

        <!-- CHECK Status ok -->
        {% if pkg.status_ok!= 0 %}
          <td class="table-success">
        {% else %}
          <td class="table-secondary">
        {% endif %}
        <a href="{{ url_for('package', name=pkg.name, _anchor='status') }}">{{ pkg.status_ok }}</a>
        </td>
        <!-- <td><div id="status-{{pkg.name}}" data-toggle="popover" tooltip-append-to-body="true">?</div></td> -->

        <!-- CHECK Status warning -->
        {% if pkg.status_warning != 0 %}
          <td class="table-warning">
        {% else %}
          <td class="table-success">
        {% endif %}
        <a href="{{ url_for('package', name=pkg.name, _anchor='status') }}">{{ pkg.status_warning }}</a>
        </td>

        <!-- CHECK Status error -->
        {% if pkg.status_error != 0 %}
          <td class="table-danger">
        {% else %}
          <td class="table-success">
        {% endif %}
        <a href="{{ url_for('package', name=pkg.name, _anchor='status') }}">{{ pkg.status_error}}</a>
        </td>

        <!-- CVE -->
        {% if pkg.cve_count == 0 %}
        <td class="table-success">0</td>
        {% else %}
        <td class="table-danger"><a href="{{ url_for('package', name=pkg.name, _anchor='cves') }}">{{ pkg.cve_count }}</a></td>
        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block script %}
<script>

$(function () {
  $('[data-toggle="popover"]').popover()
})

$( "[id^=status]" ).click(function(event) {
  //event.preventDefault();
  //event.stopPropagation();
  var pkg_name = event.target.id.replace('status-', '');

  jQuery.get(
    "status/".concat(pkg_name),
    {paramOne : 1, paramX : 'abc'},
    function(data) {
      console.log(data);
    }
  );

  var title = "title";
  var content = 'some other text here. <br><br> ' +
          '<button type="button" onclick="document.getElementById(\'checkbox_approval\').checked=false;' +
          '$(\'#popover\').popover(\'destroy\')">' +
          'De-Activate' +
          '</button>' +
          '<button type="button"  onclick="$(\'#popover\').popover(\'hide\')">' +
          'Cancel' +
          '</button>';

  // popover controller
  $(this).popover({
    html: true,
    title: title,
    content: content,
    placement: 'right',
    template: '<div class="popover" role="tooltip" style="width:320px;">' +
      '<div class="arrow"></div>' +
      '<h3 class="popover-title"></h3>' +
      '<div class="popover-content"></div>' +
      '</div>'
  }).popover('show');
});

</script>
{% endblock %}
